body{
    background-color: white;
    font-family: "Montserrat";
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
}

.formcontainer{
    position:relative;
    display: flex;
    justify-self: center;
    flex-direction: column;
    border: solid 3px rgb(37, 150, 190);
    border-radius: 30px;
    width: 40rem;
    height: 35rem;
    padding: 2em;
}

.formcontainer h1{
    display: flex;
    justify-content: center;
}

.fullname{
    width: 35rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    margin: 5em 2em;
}


.firstname, .lastname{
    display: flex;
    flex-direction: column;
}

.firstname input, .lastname input, .email input{
    margin: 1rem 0 0.5rem 0;
}

.email{
    width: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 2em;
}

.birthdate{
    position: relative;
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 2em 2em;
}

.birthdate input{
    margin: 1rem 0 0.5rem 0;
    width: 15rem;
    display: flex;
    align-self: center;
}

#birth, #birthmsg{
    width: 15rem;
    display: flex;
    align-self: center;
    text-align: left;
}