body{
    font-family: "Montserrat";
    background-image: linear-gradient(to bottom right, rgb(255,255,255), rgb(140,195,188), rgb(37, 150, 190));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 97.7vh;
    margin: 0; /* Important: remove default margins */
    box-sizing: border-box;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    top: 25%;
    transform: translateY(-15%);
    width: 25em;
    height: 25em;
    border: solid 2px rgb(31, 204, 181);
    border-radius: 20px;
    padding: 2em;
    box-shadow: 0.5em 0.5em 2em grey;
    background: transparent;
    backdrop-filter: blur(50px);
}

.heading1{
    margin: 0 auto;
}

.formtitle{
    position: relative;
    margin-top: 0em;

}

.Fullname{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20em;
    margin: 2em 0em;
}

.Email{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20em;
    margin: 2em;
}

.Fullname label, .Email label{
    font-size: 1.4em;
}

.Fullname input, .Email input{
    font-family: "Montserrat";
    height: 2em;
    background-color: rgba(255,255,255,0);
    border: transparent;
    border-bottom: solid 2px grey;
    font-size: 0.9em;
    padding: 0.5em 0;
    
}

.Fullname input:focus, .Email input:focus{
    border-bottom: solid 2px rgb(31, 204, 181);
    outline: none;
}

#submit{
    width: 8em;
    height: 3em;
    border-radius: 30em;
    background-color: rgb(31, 204, 181);
    border: solid 2px rgb(10, 83, 74);
    font: normal 1em "Montserrat";
    cursor: pointer;
}